.scene {
    -fx-background-color: rgb(43, 43, 43);
}

.world-map-pane {
    -fx-alignment: center;
}

.world-map {
    -fx-spacing: 1px;
}

.field {
    -fx-background-color: rgb(255,0,0);
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-radius: 5px;
}